
<form name="form" id="edit-pub-form" novalidate role="form"
  ng-submit="EditCtrl.update()" ng-show="EditCtrl.pub">
  
  <div class="input-field" ng-class="{true: 'error'}[submitted && form.name.$invalid]">
    <label class="active" for="name">Name</label>
    <input type="text" name="name" ng-model="EditCtrl.pub.name" required />
    <span class="help-inline" ng-show="submitted && form.name.$error.required">Required</span>
  </div>
  
  
  <div class="input-field" ng-class="{true: 'error'}[submitted && touched && form.phone_number.$invalid]">
    <label class="active" for="phone_number">Phone number</label>
    
    <input type="text" name="phone_number" ng-model="EditCtrl.pub.phone_number" required />
    <span class="help-inline" ng-show="submitted && touched && form.phone.$error.required">Required</span>
     
  </div>
  
  
  <div class="input-field" ng-class="{true: 'error'}[submitted && form.address.$invalid]">
    <label class="active" for="description">Description</label>
    <textarea name="description" id="description" ng-model="EditCtrl.pub.description" required="" class="validate materialize-textarea"></textarea>
    <span class="help-inline" ng-show="submitted && form.address.$error.required">Required</span>

  </div> 

  
  <div class="input-field">
    <button ng-click="submitted=true" ng-disabled="form.$invalid" class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
  </div>
  
  
</form>