
<h3>{{pubs.title}}</h3>
<div>
  <input type="text" placeholder="Sök" ng-model="search" />
</div>
<table class="highlight bordererd">
  <thead>
    <tr>
      <th>Namn</th>
      <th>Adress</th>
      <th>Telefonnummer</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="pub in pubs.pubs | filter: search">
      <td><a ui-sref="pub({ id: pub.id })">{{ pub.name }}</a></td>
      <td>{{ pub.position.address }}</td>
      <td>{{ pub.phone_number }}</td>
    </tr>
  </tbody>
</table>
