.map{
  width: inherit;
  height: 500px;
  margin-top: 20px;
}

.container {
  padding: 0 10px;
}

.content {
  padding: 10px;
}


@media (min-width: 700px) {




}



@media (max-width: 767px) {
  .map {
    height: 250px;
  }
}
