.map{
  width: inherit;
  height: 500px;
  margin-top: 20px;
}


@media (min-width: 700px) {
  .brand-logo {
    margin-left: 50px;
  }

  nav div {
    margin-right: 50px;
  }

}

nav a {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .map {
    height: 250px;
  }
}
