.map{
  width: inherit;
  height: 500px;
  margin-top: 20px;
}

.container {
  padding: 0 10px;
}

.nav-wrapper {
   background-color:   #607d8b;
   width: 100%;
}

.content {
  padding: 10px;
}

.tags-filter {
  list-style: none;
}

.tags-filter li {
  display: inline-block;
  vertical-align: top;
}


@media (min-width: 700px) {




}



@media (max-width: 767px) {
  .map {
    height: 250px;
  }
}
